VmkLearningKit/Core/XmlConverter/XmlSchemas/XMLSchemaChairs.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="chairs">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="chair" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="abbreviation" type="xs:string" use="required" />
            <xs:attribute name="title" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>